form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    max-width: 300px; /* Altura inicial */
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permite al usuario redimensionar verticalmente */
}

textarea:focus {
    border-color: #ccc; /* Cambia el color del borde al enfocar */
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega un efecto de sombra */
}
form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

#formMessage {
    margin-top: 10px;
    font-weight: bold;
}
